.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #556b8e;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .logo-link {
    color: white;
    text-decoration: none;
  }
  
  .logo-link:hover {
    text-decoration: underline;
  }
  
  .nav-button {
    background-color: white;
    color: #556b8e;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .nav-button:hover {
    background-color: #e1e1e1;
  }
  